@charset "UTF-8";

// 1. Configuration and helpers
@import '../../../../../../../assets/scss/abstracts/functions';
@import '../../../../../../../assets/scss/abstracts/variables';
@import '../../../../../../../assets/scss/abstracts/mixins';
@import '../../../../../../../assets/scss/abstracts/responsive';

// 2. Block styles
.block---cloud-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 500px !important;
  margin-top: var(--acfblock--cloud-tags--margin-top);
  margin-right: var(--acfblock--cloud-tags--margin-right, auto);
  margin-bottom: var(--acfblock--cloud-tags--margin-bottom);
  margin-left: var(--acfblock--cloud-tags--margin-left, auto);
  padding-top: var(--acfblock--cloud-tags--padding-top);
  padding-right: var(--acfblock--cloud-tags--padding-right);
  padding-bottom: var(--acfblock--cloud-tags--padding-bottom);
  padding-left: var(--acfblock--cloud-tags--padding-left);

  .cloud-tags__element {
    position: relative;
    padding: var(--wp--preset--spacing--8);
    transition: color 0.2s ease-in-out;
    cursor: default;

    &.active {
      color: var(--wp--preset--color--color-1);
    }

    .element {
      &__title {
        font-size: calc(var(--level) * 0.25rem + 0.5rem);
      }
    }
  }
}
