$icomoon-font-family: "holdmyblocks-icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-warning: "\e904";
$icon-info: "\e905";
$icon-error: "\e906";
$icon-success: "\e907";
$icon-search: "\e903";

