// Block style
.wp-block-hmb-modal {
  position: static;
  z-index: initial;
  width: 100%;
  height: auto;
  opacity: 1;
  pointer-events: initial;
  container-type: inline-size;
  container-name: hmb-modal;

  .hmb-modal__overlay,
  .hmb-modal__content .content__close {
    pointer-events: none;
  }
}

// Inspector control wrapper
.hmb-modal__control-wrapper {
  @import './components/controls';
}
