& {
  &.is-opened {
    padding: 0 0 15px 0;

    & > .notice {
      margin-top: 15px;
    }
  }

  .control-wrapper__section {
    &.is-opened {
      padding-right: 30px;

      & > .components-panel__body-title {
        background: #f0f0f0;
      }
    }

    &:first-child {
      border-top: none;
    }

    & > div {
      &:first-of-type {
        margin-top: 15px;
      }
    }
  }

  @import './control/notification';
  @import './control/component';
  @import './control/breakpoint';
  @import './control/color-picker';
}
