.hmb-blocks__search {
  margin-bottom: calc(var(--spacing-base) * 2);
  transform: translateY(-50%);

  .search-form {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    width: fit-content;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    border-radius: 32px;
    background-color: var(--color-white);
    box-shadow: 0 6px 25px 0 hsla(210, 8%, 42%, 0.15);

    --filter-size: 40px;
    --separator-color: rgba(var(--color-rgb-black), 0.4);

    &__search-input {
      flex-grow: 1;
      min-width: 250px;
    }

    [type='submit'] {
      display: block;
      width: 50px;
      height: 100%;
      padding: 0;
      padding: 0;
      border: none;
      background-color: var(--color-white);
      font-size: 16px;
      cursor: pointer;
      aspect-ratio: 1;

      span {
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        span {
          opacity: 0.5;
        }
      }
    }
  }
}
