.control-wrapper__section {
  &.breakpoints {
    .breakpoints__toggle {
      margin-bottom: 5px;
    }

    .breakpoints__control {
      .control {
        &__form {
          display: grid;
          position: relative;
          grid-template-columns: 1fr auto;
          align-items: end;
          margin-bottom: 0;
          padding-bottom: 15px;

          & > .components-base-control {
            margin: 0;
          }

          [type='submit'] {
            display: flex;
            height: 30px;
            border-right-width: 1px;
            border-radius: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 0;
            box-shadow: none;
          }

          &::after {
            content: '';
            position: absolute;
            right: -30px;
            bottom: 0;
            left: -15px;
            border-top: 1px solid #e0e0e0;
          }

          .notice {
            margin: 15px 0;
          }
        }

        &__item {
          .components-panel__body {
            // padding-right: 0;
          }

          & > .components-panel__body {
            & > .components-panel__body-title {
              .components-panel__body-toggle {
                font-weight: bold;
              }
            }

            & > .button {
              width: 100%;
              height: initial;
              margin-top: 8px;
              border-color: currentColor;
              background: none;
              color: #d63638;
              line-height: 1.8;
              text-align: center;
              white-space: initial;
            }
          }
        }
      }
    }
  }
}
